
<h3>Checkout</h3>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<script src="js/ShoppingCartFunctions.js"></script>
<script src="_framework/blazor.webassembly.js"></script>

<div id="paypal-button-container"></div>
<p id="result-message"></p>

@code {

}
